<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684153958/HdA/MaisonAlivon_MarionSaussier_2_2_ax1kqg.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="">Le blog</h1>
        </div>
    </div>
</div>

<% @articles.each do |article| %>
<div class="cards-article">
    <%= link_to article_path(article) do %>
        <div class="card-article">
          <div class="card-article-image"><img src="<%= article.banner_picture %>"></div>
          <div class="card-article-content">
            <h2 class="card-article-title"><%= article.title %></h2>
            <p class="card-article-text"><%= article.author %></p>
            <p class="card-article-text"><%= article.introduction %></p>
            <button class="btn card-article-btn">Lire l'article</button>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
