<div class="w-full bg-beige">

  <div class="flex flex-wrap items-center justify-between lg:px-12 px-4 my-2">
    <%= link_to root_path, class: "flex items-center" do %>
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515699/HdA/Transparents/Orange_Transparent/Orange_1_-small_lf1gm9.png"
        class="h-28 lg:h-14 mx-auto"
        alt="Histoires d'Artisans Logo" />
    <% end %>

    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center ml-3 text-sm text-green rounded-lg lg:hidden hover:orange focus:outline-none"
      aria-controls="navbar-dropdown"
      aria-expanded="false">
      <span class="sr-only">Menu</span>
      <svg
        class="w-20 h-20"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd">
        </path>
      </svg>
    </button>

    <div class="hidden w-full lg:block lg:w-auto" id="navbar-dropdown">
      <ul class="font-monospace flex flex-col lg:p-0 mt-4 lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
          <button id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class="text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2">
            A propos de nous
            <svg
              class="w-5 h-5 ml-1"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd">
                </path>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden font-monospace bg-beige divide-y divide-green shadow">
                <ul class="py-2 px-4 text-sm text-green" aria-labelledby="dropdownLargeButton">
                  <li>
                    <%= link_to 'Qui sommes-nous', about_path, class:"text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2"%>
                  </li>
                  <li>
                    <%= link_to 'Nous soutenir', support_path, class:"text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2"%>
                  </li>
                  <li>
                    <%= link_to 'Nous contacter', new_contact_path, class:"text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2"%>
                  </li>
                </ul>
            </div>
        </li>
        <li>
          <%= link_to "Notre répertoire d'artisans", directory_artisans_path, class:"text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2"%>
        </li>
        <li>
          <%= link_to 'Notre podcast', podcast_path, class:"text-3xl lg:text-base font-bold font-monospace text-green items-center flex justify-end w-full hover:bg-beige hover:text-orange px-4 py-2"%>
        </li>
      </ul>
    </div>
  </div>
</div>
