<div class="navbar navbar-expand-sm navbar-light navbar-hda">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515699/HdA/Transparents/Orange_Transparent/Orange_1_-small_lf1gm9.png" %>
    <% end %>

    <nav>
        <ul>
            <li><a href="#">A propos de nous</a>
            <!-- First Tier Drop Down -->
            <ul>
                <li> <%= link_to 'Qui sommes-nous', about_path %> </li>
                <%# <li> <%= link_to 'Nous soutenir', support_path %>
                <%# <li> <%= link_to 'Nos actualités', news_path %>
                <li> <%= link_to 'Nous contacter',  new_contact_path %> </li>
            </ul>
            </li>
            <li> <%= link_to "Notre répertoire d'artisans", directory_artisans_path %> </li>
            <%# <li> <%= link_to 'Le blog', articles_path %>
            <li> <%= link_to 'Notre podcast', podcast_path %> </li>
        </ul>
    </nav>
  </div>
  </div>
</div>
