<%# CARD %>
<div class="w-[90%] lg:w-[70%] flex flex-col items-center bg-beige rounded-sm shadow overflow-hidden">
  <%# Image + Content %>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 rounded-sm h-full">

    <%# Image %>
    <div>
      <%= cl_image_tag notebook[:image], alt: "ImageCarnet", class: 'lg:h-[400px] w-full h-full object-cover' %>
    </div>

    <%# Content %>
    <div class='mx-3'>
      <div class="my-3">
        <h3 class="mb-2 text-6xl lg:text-2xl font-bold font-monospace text-green"><%= notebook[:title] %></h3>
        <p class="text-3xl lg:text-base font-sans mb-3">
          <%= notebook[:summary] %>
        </p>
      </div>

      <div class='my-3 lg:mb-0'>
        <%= link_to 'Recevoir', '#', class: 'block bg-orange font-bold font-sans hover:bg-green hover:text-beige my-3 px-4 py-2 rounded-sm text-beige text-center',
                                            data: { form_prospect_target: 'downloadButton', id: notebook[:template_mail_id],
                                                    action: 'click->form-prospect#toggleForm' } %>
      </div>
    </div>
  </div>

  <%# Form of prospects %>
  <div class='w-full h-50 flex flex-col justify-center items-center py-4 hidden'
        data-form-prospect-target='divForm' data-id='<%= notebook[:template_mail_id] %>'>
    <%= simple_form_for prospect, html: { class: 'simple_form new_prospect flex flex-col justify-center items-center gap-[2em] lg:w-[60%] w-[90%] lg:mt-5',
                                          data: { form_prospect_target: 'form', id: notebook[:template_mail_id],
                                                  action: 'turbo:submit-end->form-prospect#fillInputsAfterSubmit' } } do |f| %>

      <%# Hidden inputs to get the title and template id to send to Brevo API after %>
      <%= f.input :template, as: :hidden, input_html: { value: notebook[:template_mail_id] } %>
      <%= f.input :title, as: :hidden, input_html: { value: notebook[:title] } %>

      <%# Email input %>
      <div class='w-full mb-3 relative'>
        <%= f.input :email, placeholder: 'Email*',
                            wrapper_html: { class: 'w-full mb-0' },
                            label: false,
                            input_html: { class: 'bg-beige border-b border-b-green-900 email focus:outline-none font-sans form-control lg:text-base required string text-3xl text-green w-full',
                                          data: { form_prospect_target: 'input',
                                                  id: notebook[:template_mail_id],
                                                  action: 'input->form-prospect#verifyEmail input->form-prospect#enableButton' } } %>
        <span class='absolute right-0 top-0 text-green hidden'
              data-form-prospect-target='validMark' data-id='<%= notebook[:template_mail_id] %>'>
          <i class="fa-solid fa-check"></i>
        </span>
        <span class='absolute right-0 top-0 text-red hidden'
              data-form-prospect-target='invalidMark' data-id='<%= notebook[:template_mail_id] %>'>
          <i class="fa-solid fa-xmark"></i>
        </span>
      </div>

      <%# First name & last name inputs %>
      <div class="w-full flex justify-between">
        <%= f.input :first_name, label: false, placeholder: 'Prénom*',
                                  input_html: { class: 'bg-beige border-b border-b-green-900 email focus:outline-none font-sans form-control lg:text-base required string text-3xl text-green w-full',
                                                data: { form_prospect_target: 'input', id: notebook[:template_mail_id],
                                                        action: 'input->form-prospect#enableButton' }},
                                  wrapper_html: { class: 'w-[48%]' } %>
        <%= f.input :last_name, label: false, placeholder: 'Nom*',
                                input_html: { class: 'bg-beige border-b border-b-green-900 email focus:outline-none font-sans form-control lg:text-base required string text-3xl text-green w-full',
                                              data: { form_prospect_target: 'input', id: notebook[:template_mail_id],
                                                      action: 'input->form-prospect#enableButton' }},
                                wrapper_html: { class: 'w-[48%]' } %>
      </div>

      <%# Position and company inputs %>
      <div class="w-full flex justify-between">
        <%= f.input :position, label: false, as: :select, collection: Prospect.positions,
                                input_html: { class: 'bg-beige border-b border-b-green-900 email focus:outline-none font-sans form-control form-select h-full lg:text-base required select string text-3xl text-green w-full',
                                              data: {
                                                form_prospect_target: 'input',
                                                id: notebook[:template_mail_id]
                                              } },
                                wrapper_html: { class: 'w-[48%]' },
                                include_blank: false %>
        <%= f.input :company, label: false, placeholder: 'Entreprise',
                              input_html: { class: 'bg-beige border-b border-b-green-900 email focus:outline-none font-sans form-control form-select h-full lg:text-base required select string text-3xl text-green w-full',
                                            data: { form_prospect_target: 'input', id: notebook[:template_mail_id],
                                                    action: 'input->form-prospect#enableButton' }},
                              wrapper_html: { class: 'w-[48%]' } %>
      </div>

      <%# Agreement to sign up to the newsletter %>
      <div class="mb-3 w-full">
        <%= f.check_box :newsletter, class: '', id: 'prospect_newsletter', data: { form_prospect_target: 'input', id: notebook[:template_mail_id] } %>
        <%= f.label :newsletter, 'Cochez cette case si vous souhaitez être inscrit à notre newsletter', class:"text-3xl lg:text-base text-green font-sans" %>
      </div>

      <%# Button to download => Removed, email from brevo with template directly %>
      <%#= link_to '', 'download/test.jpg', download: 'test.jpg', class: 'hidden',
                                            data: { id: notebook[:template_mail_id], form_prospect_target: 'buttonDL' } %>

      <%= f.submit 'Recevoir', class: 'bg-orange block cursor-pointer disabled:bg-orange disabled:cursor-auto disabled:opacity-80 font-bold font-sans hover:bg-green hover:text-beige lg:text-base px-4 py-2 rounded-sm text-3xl text-beige text-center',
                                  data: { form_prospect_target: 'buttonForm', id: notebook[:template_mail_id] },
                                  disabled: true %>
    <% end %>
  </div>

</div>
<%# END OF CARD %>
