<%# CARD %>
  <div class="w-4/5 flex flex-col items-center bg-beige rounded-sm shadow overflow-hidden">
    <%# Image + Content %>
    <div class='h-50 flex'>
      <%= image_tag 'AtelierKruttt.jpg', alt: "ImageLivreBlanc", class: 'h-full w-[300px]' %>
      <%# Content %>
      <div class='ms-4 grid'>
        <h4 class='text-2xl'><%= title %></h4>
        <p class="text-sm m-0">
          <%= summary %>
        </p>
        <div class='w-[165px] h-[40px]'>
          <%= link_to 'Télécharger', '#', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 w-[165px] h-[40px]',
                                              data: { form_prospect_target: 'downloadButton', id: templateID,
                                                      action: 'click->form-prospect#toggleForm' } %>
        </div>
      </div>
    </div>

    <%# Form of prospects %>
    <div class='w-full h-50 flex flex-col justify-center items-center py-4 hidden'
          data-form-prospect-target='divForm' data-id='<%= templateID %>'>
      <%= simple_form_for prospect, html: { class: 'simple_form new_prospect flex flex-col justify-center items-center w-[60%]  gap-[2em]',
                                            data: { form_prospect_target: 'form', id: templateID,
                                                    action: 'turbo:submit-end->form-prospect#toggleDownload' } } do |f| %>
        <%= f.input :email, placeholder: 'Email*',
                            wrapper_html: { class: 'w-full' },
                            label: false,
                            input_html: { class: 'w-full bg-beige focus:outline-none border-b border-b-green-900',
                                          data: { action: 'input->form-prospect#verifyEmail input->form-prospect#enableButton' } } %>

        <div class="w-full flex justify-between">
          <%= f.input :first_name, label: false, placeholder: 'Prénom*',
                                    input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900',
                                                  data: { form_prospect_target: 'input', id: templateID,
                                                          action: 'input->form-prospect#enableButton' }},
                                    wrapper_html: { class: 'w-[48%]' } %>
          <%= f.input :last_name, label: false, placeholder: 'Nom*',
                                  input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900',
                                                data: { form_prospect_target: 'input', id: templateID,
                                                        action: 'input->form-prospect#enableButton' }},
                                  wrapper_html: { class: 'w-[48%]' } %>
        </div>

        <div class="w-full flex justify-between">
          <%= f.input :position, label: false, as: :select, collection: Prospect::POSITIONS,
                                  input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900 h-full' },
                                  wrapper_html: { class: 'w-[48%]' },
                                  include_blank: false %>
          <%= f.input :company, label: false, placeholder: 'Entreprise*',
                                input_html: { class: 'w-full bg-beige focus:outline-none border-b border-b-green-900',
                                              data: { form_prospect_target: 'input', id: templateID,
                                                      action: 'input->form-prospect#enableButton' }},
                                wrapper_html: { class: 'w-[48%]' } %>
        </div>

        <div class="mb-3 w-full">
          <%= f.check_box :newsletter, class: '', id: 'prospect_newsletter' %>
          <%= f.label :newsletter, 'Cochez cette case si vous souhaitez être inscrit à notre newsletter', class: 'text-sm pl-1' %>
        </div>

        <%= link_to '', 'download/test.jpg', download: 'test.jpg', class: 'hidden',
                                              data: { id: templateID, form_prospect_target: 'buttonDL' } %>
        <%= f.submit 'Télécharger', class: 'block rounded-sm bg-orange disabled:bg-orange disabled:opacity-80 disabled:cursor-auto hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 cursor-pointer',
                                    data: { form_prospect_target: 'buttonForm', id: templateID },
                                    disabled: true %>
      <% end %>
    </div>
  </div>
<%# END OF CARD %>
