
<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class="">Histoires d'Artisans</h1>
            <p class=" mb-3  font-bold max-w-5xl mx-auto">
              L’association qui valorise l’ingénierie des artisans d’art en mettant en avant l’innovation et la recherche au sein des ateliers.
            </p>
        </div>
    </div>
</div>

<%# Infos %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class=" my-6">Nous découvrir</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">

    <%# Notre mission %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 lg:w-[400px] rounded-sm">
      <div>
        <a target="_blank" href="<%= about_path %>">
          <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515707/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_5_yxkj5z.jpg" alt="La mission de Histoires d'Artisans" />
        </a>
      </div>
      <div class="p-3">
        <a target="_blank" href="<%= about_path %>">
          <h3 class=" mb-2">Notre mission</h3>
          <p class=" mb-3 ">Découvrez nos actions pour valoriser le savoir-faire intellectuel de l'artisan d'art, expert en matériaux</p>
        </a>
      </div>
    </div>

    <%# Nous soutenir %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 lg:w-[400px] rounded-sm">
    <div>
      <a target="_blank" href="<%= support_path %>">
        <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515705/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_8_gdpunx.jpg" alt="Répertoire des artisans Histoires d'Artisans" />
      </a>
    </div>
      <div class="p-3">
        <a target="_blank" href="<%= support_path %>">
          <h3 class=" mb-2">Nous soutenir</h3>
          <p class=" mb-3 ">Soutenez nos actions grâce au don</p>
        </a>
      </div>
    </div>

    <%# Notre blog %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 lg:w-[400px] rounded-sm">
    <div>
      <a target="_blank" href="<%= posts_path %>">
        <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515706/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_29_m70eb7.jpg" alt="La mission de Histoires d'Artisans" />
      </a>
    </div>
      <div class="p-3">
        <a target="_blank" href="<%= posts_path %>">
          <h3 class=" mb-2">Nos articles</h3>
          <p class=" mb-3 ">Entrez dans l'univers de l'artisanat d'art à travers notre blog.</p>
        </a>
      </div>
    </div>

  </div>
</div>

<%# Actualités %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class="my-6">Nos actualités</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap 4">

    <%# Nos carnets des innovations %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1696257133/HdA/LisaMillet-HistoiresDartisans-_TipiiAtelier_11_retouche_djmgub.jpg" />
      <div class="p-3">
        <h3 class="mb-2">Nos carnets des innovations</h3>
        <a target="_blank" href="<%= notebooks_path %>">
          <p class=" mb-3 ">Inspirez-vous grâce à nos portraits d'artisans qui ont repoussé les limites de leur matière</p>
        </a>
      </div>
    </div>


    <%# Nos Masterclass %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1711815749/HdA/Masterclass/MasterclassPierreSalagnac_Demonstration_aogubg.jpg" alt="Les Masterclass d'artisans par Histoires d'Artisans" />
      <div class="p-3">
        <h3 class="mb-2">Nos Masterclass</h3>
        <a target="_blank" href="http://localhost:3000/visite">
          <p class=" mb-3 ">Découvrez nos Masterclass d'artisans</p>
        </a>
      </div>
    </div>

    <%# Notre répertoire d'experts %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg" alt="Le répertoire d'artisans d'art, experts en matériaux de Histoires d'Artisans" />
      <div class="p-3">
        <h3 class="mb-2">Notre répertoire d'experts</h3>
        <a target="_blank" href="https://www.histoiresdartisans.com/blog/l-outil-en-main-france-et-histoires-d-artisans-s-associent-pour-sensibiliser-aux-metiers-d-art">
          <p class=" mb-3 ">Découvrez notre répertoire d'artisan d'art, experts en matériaux</p>
        </a>
      </div>
    </div>

  </div>
</div>

<%# Podcast %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class="my-6">Nos derniers épisodes de podcast</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap 4">

    <%# César Leblic - César Bazaar %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1713429372/HdA/Podcast/CesarLeblic_CesarBazaar_LisaMillet_HistoiresdArtisans2_zr2wd4.jpg" alt="César Leblic - César Bazaar" />
      <div class="p-3">
        <h3 class="mb-2">César Leblic - César Bazaar</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/histoire-du-carreau-de-ciment">
          <p class=" mb-3 ">Histoire</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/cesar-leblic-artisan-designer-autour-du-carreau-de-ciment">
          <p class=" mb-3 ">Interview</p>
        </a>
      </div>
    </div>

    <%# Robert Mercier %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1711815267/HdA/Podcast/RobertMercier_Creation_ywctng.jpg" alt="Robert Mercier" />
      <div class="p-3">
        <h3 class="mb-2">Robert Mercier</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/histoire-du-cuir-et-de-ses-metiers">
          <p class=" mb-3 ">Histoire</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/robert-mercier-artisan-du-cuir">
          <p class=" mb-3 ">Interview</p>
        </a>
      </div>
    </div>

    <%# Pauline Loctin %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1708765902/HdA/Podcast/PaulineLoctin_fjmdfe.jpg" alt="Pauline Loctin" />
      <div class="p-3">
        <h3 class="mb-2">Pauline Loctin</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/chromatic-reflections-in-pauline-loctin-yannis-davy-guibinga">
          <p class=" mb-3 ">Histoire</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/pauline-loctin-sculptrice-de-papier">
          <p class=" mb-3 ">Interview</p>
        </a>
      </div>
    </div>

  </div>
</div>
