
<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class="">Histoires d'Artisans</h1>
            <p class=" mb-3  font-bold max-w-5xl mx-auto">
              L’association qui valorise l’ingénierie des artisans d’art en mettant en avant l’innovation et la recherche au sein des ateliers.
            </p>
        </div>
    </div>
</div>

<%# Infos %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class=" my-6">Nous découvrir</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">

    <%# Notre mission %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 rounded-sm">
      <div>
        <a target="_blank" href="<%= about_path %>">
          <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515707/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_5_yxkj5z.jpg" alt="La mission de Histoires d'Artisans" />
        </a>
      </div>
      <div class="p-3">
        <a target="_blank" href="<%= about_path %>">
          <h3 class=" mb-2">Notre mission</h3>
          <p class=" mb-3 ">Découvrez nos actions pour valoriser le savoir-faire intellectuel de l'artisan d'art, expert en matériaux</p>
        </a>
      </div>
    </div>

    <%# Nous soutenir %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 lg:w-[400px] rounded-sm">
    <div>
      <a target="_blank" href="<%= support_path %>">
        <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515705/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_8_gdpunx.jpg" alt="Répertoire des artisans Histoires d'Artisans" />
      </a>
    </div>
      <div class="p-3">
        <a target="_blank" href="<%= support_path %>">
          <h3 class=" mb-2">Nous soutenir</h3>
          <p class=" mb-3 ">Soutenez nos actions grâce au don</p>
        </a>
      </div>
    </div>

    <%# Notre blog %>
    <div class="px-2 bg-beige grid grid-cols-2 h-full justify-self-center lg:grid-cols-1 lg:w-[400px] rounded-sm">
    <div>
      <a target="_blank" href="<%= posts_path %>">
        <img class="h-[250px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515707/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_5_yxkj5z.jpg" alt="La mission de Histoires d'Artisans" />
      </a>
    </div>
      <div class="p-3">
        <a target="_blank" href="<%= posts_path %>">
          <h3 class=" mb-2">Nos articles</h3>
          <p class=" mb-3 ">Entrez dans l'univers de l'artisanat d'art à travers notre blog.</p>
        </a>
      </div>
    </div>

  </div>
</div>

<%# Actualités %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class="my-6">Nos actualités</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap 4">

    <%# Nos carnets des innovations %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1696257133/HdA/LisaMillet-HistoiresDartisans-_TipiiAtelier_11_retouche_djmgub.jpg" />
      <div class="p-3">
        <h3 class="mb-2">Nos carnets des innovations</h3>
        <a target="_blank" href="<%= notebooks_path %>">
          <p class=" mb-3 ">Inspirez-vous grâce à nos portraits d'artisans qui ont repoussé les limites de leur matière</p>
        </a>
      </div>
    </div>


    <%# L'OeM %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693682722/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM33_m4zzaa.png" alt="L'Outil en Main France" />
      <div class="p-3">
        <h3 class="mb-2">L'Outil en Main France</h3>
        <a target="_blank" href="https://www.histoiresdartisans.com/blog/l-outil-en-main-france-et-histoires-d-artisans-s-associent-pour-sensibiliser-aux-metiers-d-art">
          <p class=" mb-3 ">Découvrez notre événement Patrimoine en transmission dans le cadre des Journées Européennes du Patrimoine.</p>
        </a>
      </div>
    </div>


    <%# CIV %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1696257133/HdA/LisaMillet-HistoiresDartisans-_TipiiAtelier_11_retouche_djmgub.jpg" alt="Les carnets des innovations de Histoires d'Artisans" />
      <div class="p-3">
        <h3 class="mb-2">Le Centre International du Vitrail</h3>
        <a target="_blank" href="https://www.histoiresdartisans.com/blog/histoires-d-artisans-et-le-centre-international-du-vitrail-une-alliance-pour-la-transmission-l-innovation-et-les-savoir-faire">
          <p class=" mb-3 ">Découvrez notre partenariat avec le Centre International du Vitrail</p>
        </a>
      </div>
    </div>


  </div>
</div>

<%# Podcast %>
<div class='lg:px-28 px-8 mx-auto my-3'>
  <h2 class="my-6">Nos derniers épisodes de podcast</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap 4">

    <%# Adrien Jaminet %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1706176402/HdA/AdrienJaminet_TrompetteAlfred_tqrpbt.jpg" alt="Adrien Jaminet" />
      <div class="p-3">
        <h3 class="mb-2">Adrien Jaminet</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/41-histoire-de-la-trompette">
          <p class=" mb-3 ">Histoire</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/42-adrien-jaminet-facteur-cuivres-trompettes">
          <p class=" mb-3 ">Interview</p>
        </a>
      </div>
    </div>

    <%# Aurore Bouter %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1699003710/HdA/AuroreBouter_Cementation_CreditsVirginie_Lambinet_10_agbac4.jpg" alt="Aurore Bouter" />
      <div class="p-3">
        <h3 class="mb-2">Aurore Bouter</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/idees-recues-verriers">
          <p class=" mb-3 ">Histoire</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/aurore-bouter-maitre-artisane-verrier">
          <p class=" mb-3 ">Interview</p>
        </a>
      </div>
    </div>

    <%# Les Métalliers Champenois %>
    <div class="px-2 bg-beige rounded-sm h-full justify-self-center">
        <img class="object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1706176402/HdA/LisaMillet_HistoiresDartisans_LesMetalliersChampenois_30_htseof.jpg" alt="Les Métalliers Champenois" />
      <div class="p-3">
        <h3 class="mb-2">Les Métalliers Champenois</h3>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/37-eric-delory-metalliers-les-metalliers-champenois">
          <p class=" mb-3 ">Eric Delory</p>
        </a>
        <a target="_blank" href="https://smartlink.ausha.co/histoiresdartisans/37-julien-lacroix-ferronnier-chez-les-metalliers-champenois">
          <p class=" mb-3 ">Julien Lacroix</p>
        </a>
      </div>
    </div>


  </div>
</div>
