<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
  <div class="container">
    <h1>Histoires d'Artisans</h1>
  </div>
</div>

<div class="container">
  <div class="mt-3 row justify-content-center">
    <div class="col-10">
<<<<<<< HEAD
=======
    
>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
        <div class="card-product mb-5 ">
          <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882647/HdA/Transparents/Orange_Transparent/Orange_10_gpzlzr.png" alt="Logo Histoires d'Artisans">
          <div class="card-product-infos ps-4">
            <h2>Notre mission</h2>
            <p>Valoriser les savoir-faire intellectuel de l'artisan d'art et l'accompagner dans l'innovation.</p>
            <a href="<%= about_path %>">En savoir plus</i></a>
<<<<<<< HEAD

          </div>
        </div>

      <div class="card-product mb-5">
        <div class="card-product-infos pe-4">
          <h2>Nous soutenir</h2>
          <p>Participez à la mission de l'association grâce à votre don.</p>
          <a href="<%= support_path %>">Faire un don</i></a>
        </div>
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882766/HdA/Transparents/Orange_Transparent/Orange_19_ryv6dj.png" alt="Logo Histoires d'Artisans">
      </div>

      <div class="card-product mb-5">
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882829/HdA/Transparents/Orange_Transparent/Orange_9_cckhko.png" alt="Logo Histoires d'Artisans">
        <div class="card-product-infos ps-4">
          <h2>Notre podcast</h2>
          <p>Entrez dans l'atelier d'un artisan d'art pour découvrir son métier, ses créations et son quotidien.</p>
          <a href="<%= podcast_path %>">Ecouter</i></a>
        </div>
      </div>

      <div class="card-product mb-5">
        <div class="card-product-infos pe-4">
          <h2>Notre répertoire d'artisans</h2>
          <p>Des experts pour vous accompagner dans la recherche de vos projets</p>
          <a href="<%=  directory_artisans_path %>">Découvrir</i></a>
        </div>
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882903/HdA/Transparents/Orange_Transparent/Orange_13_dnjctd.png" alt="Logo Histoires d'Artisans">
      </div>
=======
          </div>
        </div>

      <div class="card-product mb-5">
        <div class="card-product-infos pe-4">
          <h2>Nous soutenir</h2>
          <p>Participez à la mission de l'association grâce à votre don.</p>
          <a href="<%= support_path %>">Faire un don</i></a>
        </div>
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882766/HdA/Transparents/Orange_Transparent/Orange_19_ryv6dj.png" alt="Logo Histoires d'Artisans">
      </div>

      <div class="card-product mb-5">
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882829/HdA/Transparents/Orange_Transparent/Orange_9_cckhko.png" alt="Logo Histoires d'Artisans">
        <div class="card-product-infos ps-4">
          <h2>Notre podcast</h2>
          <p>Entrez dans l'atelier d'un artisan d'art pour découvrir son métier, ses créations et son quotidien.</p>
          <a href="<%= podcast_path %>">Ecouter</i></a>
        </div>
      </div>

      <div class="card-product mb-5">
        <div class="card-product-infos pe-4">
          <h2>Notre répertoire d'artisans</h2>
          <p>Des experts pour vous accompagner dans la recherche de vos projets</p>
          <a href="<%=  directory_artisans_path %>">Découvrir</i></a>
        </div>
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882903/HdA/Transparents/Orange_Transparent/Orange_13_dnjctd.png" alt="Logo Histoires d'Artisans">
      </div>

>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
    </div>
  </div>
</div>
