
<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-320 overflow-hidden">
         <!-- Item 1 -->
        <div class="w-full h-320 bg-cover bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Histoires d'Artisans</h1>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">L'association qui sensibiliser les entreprises au rôle majeur de l’artisan d’art dans l’innovation et accompagne les artisans d’art dans la valorisation de leurs recherches.</p>
              </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="w-full h-320 bg-cover bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1680886513/HdA/support_eyurup.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h2 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Notre mission</h2>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">Découvrez nos actions pour valoriser le savoir-faire intellectuel de l'artisan d'art, expert en matériaux</p>
                <a href="<%= about_path %>" class="py-3 text-xl lg:text-base font-bold font-sans text-green hover:text-orange">En savoir plus</a>
              </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="w-full h-320 bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679911238/HdA/AtelierDablanc_bx4ocu.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h2 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nous soutenir</h2>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">Participez à la mission de l'association, devenez donateur et soutenez nos actions auprès des artisans d'art français</p>
                <a href="<%= support_path %>" class="py-3 text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Faire un don</a>
              </div>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="w-full h-320 bg-cover bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684516743/HdA/LisaMillet_HistoiresDartisans_SamuelLatour_22_a6kw1v.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h2 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Notre podcast</h2>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">Entrez dans l'atelier d'un artisan d'art et découvrez son métier, ses créations et son quotidien</p>
                <a href="<%= podcast_path %>" class="py-3 text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Écouter</a>
              </div>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="w-full h-320 bg-cover bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h2 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Notre répertoire</h2>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">Soyez accompagné dans vos projets de création par des artisans experts en matériaux</p>
                <a href="<%= directory_artisans_path %>" class="py-3 text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Découvrir</a>
              </div>
          </div>
        </div>
        <!-- Item 6 -->
        <div class="w-full h-320 bg-cover bg-center hidden duration-1000 ease-in-out" data-carousel-item style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684153958/HdA/MaisonAlivon_MarionSaussier_2_2_ax1kqg.jpg);">
          <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-80">
              <div class="text-center">
                <h2 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nos visites</h2>
                <p class="text-2xl px-10 lg:text-base font-sans my-2 lg:px-32">Faites entrer vos équipes ou vos clients dans l'atelier d'un artisan d'art</p>
                <a href="<%= visite_path %>" class="py-3 text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Visiter</a>
              </div>
          </div>
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10">
            <svg aria-hidden="true" class="h-5 sm:h-6 sm:w-6 text-green w-5 hover:text-orange" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Précédent</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10">
            <svg aria-hidden="true" class="h-5 sm:h-6 sm:w-6 text-green w-5 hover:text-orange" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Suivant</span>
        </span>
    </button>
</div>

<div class='lg:px-28 px-2 mx-auto my-3'>
  <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green">Actualités</h2>
</div>

<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/CIV/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-1/2 bg-beige bg-opacity-100">
        <div class="lg:px-28 text-center">
          <h3 class="text-4xl lg:text-xl font-sans text-green mb-6">Découvrez le jeu concours organisé avec le Centre International du Vitrail</h3>
          <a href="<%= civ_path %>" class="py-3 text-4xl lg:text-xl font-bold font-sans text-green hover:text-orange">Participer</a>
        </div>
    </div>
</div>
