<%# BANNER %>
<div class="w-full bg-cover bg-center h-128" style="background-image: url(<%= image_path 'AtelierKruttt.jpg' %>);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nos livres blancs</h1>
        </div>
    </div>
</div>

<%# CARDS CONTAINER%>
<div class="w-full mt-8 flex flex-col justify-center items-center gap-[2em]">

  <%# CARD ONE %>
  <div class="w-4/5 h-[200px] flex items-center bg-beige rounded-sm shadow overflow-hidden">
    <%= image_tag 'AtelierKruttt.jpg', alt: "ImageLivreBlanc", class: 'h-full' %>
    <%# Content %>
    <div class='h-full ms-4 grid'>
      <h4 class='text-2xl'>Lorem ipsum</h4>
      <p class="text-sm m-0">
        Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.
      </p>
      <%= link_to 'Téléchargement', '#', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 w-[165px] h-[40px]' %>
    </div>
    <%# Form of prospects %>
    <div>
    </div>
  </div>

  <%# CARD TWO %>
  <div class="w-4/5 h-[200px] flex items-center bg-beige rounded-sm shadow overflow-hidden">
    <%= image_tag 'AtelierKruttt.jpg', alt: "ImageLivreBlanc", class: 'h-full' %>
    <%# Content %>
    <div class='h-full ms-4 grid'>
      <h4 class='text-2xl'>Lorem ipsum</h4>
      <p class="text-sm m-0">
        Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.
      </p>
      <%= link_to 'Téléchargement', '#', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 w-[165px] h-[40px]' %>
    </div>
  </div>

  <%# CARD THREE %>
  <div class="w-4/5 h-[200px] flex items-center bg-beige rounded-sm shadow overflow-hidden">
    <%= image_tag 'AtelierKruttt.jpg', alt: "ImageLivreBlanc", class: 'h-full' %>
    <%# Content %>
    <div class='h-full ms-4 grid'>
      <h4 class='text-2xl'>Lorem ipsum</h4>
      <p class="text-sm m-0">
        Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.
      </p>
      <%= link_to 'Téléchargement', '#', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 w-[165px] h-[40px]' %>
    </div>
  </div>

</div>
