<%# BANNER %>
<div class="w-full bg-cover bg-center h-128" style="background-image: url(<%= image_path 'AtelierKruttt.jpg' %>);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nos livres blancs</h1>
        </div>
    </div>
</div>

<%# CARDS CONTAINER%>
<div class="w-full mt-8 flex flex-col justify-center items-center gap-[2em]">

<%# CARD ONE %>
  <div class="w-4/5 flex flex-col items-center bg-beige rounded-sm shadow overflow-hidden">
    <%# Image + Content %>
    <div class='h-50 flex'>
      <%= image_tag 'AtelierKruttt.jpg', alt: "ImageLivreBlanc", class: 'h-full w-[300px]' %>
      <%# Content %>
      <div class='ms-4 grid'>
        <h4 class='text-2xl'>Lorem ipsum</h4>
        <p class="text-sm m-0">
          Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.
        </p>
        <div class='w-[165px] h-[40px]'>
          <%= link_to 'Téléchargement', '#', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 w-[165px] h-[40px]' %>
        </div>
      </div>
    </div>

    <%# Form of prospects %>
    <div class='w-full h-50 flex flex-col justify-center items-center py-4 hidden'>
      <%= simple_form_for @prospect, html: { class: 'simple_form new_prospect flex flex-col justify-center items-center w-[60%]  gap-[2em]' } do |f| %>
        <%= f.input :email, placeholder: 'Email*',
                            wrapper_html: { class: 'w-full' },
                            label: false,
                            input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900'} %>

        <div class="w-full flex justify-between">
          <%= f.input :first_name, label: false, placeholder: 'Prénom*',
                                    input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900'},
                                    wrapper_html: { class: 'w-[48%]' } %>
          <%= f.input :last_name, label: false, placeholder: 'Nom*',
                                  input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900'},
                                  wrapper_html: { class: 'w-[48%]' } %>
        </div>

        <div class="w-full flex justify-between">
          <%= f.input :position, label: false, as: :select, collection: Prospect::POSITIONS,
                                  input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900 h-full' },
                                  wrapper_html: { class: 'w-[48%]' },
                                  include_blank: false %>
          <%= f.input :company, label: false, placeholder: 'Entreprise*',
                                input_html: { class: ' w-full bg-beige focus:outline-none border-b border-b-green-900'},
                                wrapper_html: { class: 'w-[48%]' } %>
        </div>

        <div class="mb-3 w-full">
          <%= f.check_box :newsletter, class: '', id: 'prospect_newsletter' %>
          <%= f.label :newsletter, 'Cochez cette case si vous souhaitez être inscrit à notre newsletter', class: 'text-sm pl-1' %>
        </div>


        <%= f.submit 'Télécharger', class: 'block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-3xl lg:text-base font-sans text-center py-2 px-4 cursor-pointer' %>
      <% end %>
    </div>
  </div>
<%# END OF CARD ONE %>
</div>
