<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Contactez-nous</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto'>
    <h1>Le message a bien été envoyé</h1>
    <p class="text-3xl lg:text-base font-sans mt-3">Nous reviendrons vers vous rapidement. En attendant, nous vous invitons à écouter notre <%= link_to 'podcast', podcast_path %> et à nous suivre sur les réseaux</p>
</div>





<%# Contact form qui ne fonctionne pas encore %>
<%= form_for @contact do |form| %>

      <% if @contact.errors.any? %>
        <p class="text-3xl lg:text-base font-sans mt-3">Le message n'a pas pu être envoyé</p>
      <% end %>

      <div class="mt-2 mb-2">
        <div class='text-start'>Prénom</div>
        <div class='text-center'><%= form.text_field :first_name, class:'field-orange-empty' %></div>
      </div>

      <div class="mt-2 mb-2">
        <div class='text-start'>Nom</div>
        <div class='text-center'><%= form.text_field :last_name, class:'field-orange-empty' %></div>
      </div>

      <div class="mb-2">
        <div class='text-start'>Email</div>
        <div class='text-center'><%= form.email_field :email, class:'field-orange-empty' %></div>
      </div>

      <div class="mb-2">
        <div class='text-start'>Sujet</div>
        <div class='text-center'><%= form.text_field :subject, class:'field-orange-empty' %></div>
      </div>

      <div class="mb-2">
        <div class='text-start'>Message</div>
        <div class='text-center'><%= form.text_area :message, class:'field-orange-empty field-message' %></div>
      </div>

      <div >
        <%= form.submit "Envoyer", class:"btn btn-green"%>
      </div>
      <% end %>
