<div class="h-[450px] bg-orange rounded-sm justify-self-center">
  <%= link_to post_path(post) do %>
    <%# picture of a post %>
    <% if post.photo.key.present? %>
      <div>
        <%= cl_image_tag post.photo.key, class:"h-[200px] object-cover rounded-sm w-full" %>
      </div>
    <% end %>
    <div class="p-3">
      <h3 class="text-beige mb-3"><%= post.title %></h3>
      <p class="mb-5 text-beige">Par <%= post.author %></p>
      <p class="mb-4 text-beige"><%= post.summary %></p>
    </div>
  <% end %>
</div>
