<div id="post" class="mb-4">

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-green dark:text-white"><%= post.title.size > 30 ? post.title.first(30) << "..." : post.title %></h5>
        </a>
        <h6 class="mb-2 text-gray-400 dark:text-white">Par <%= post.author %></h6>
        <h5 class="italic text-gray-400 mb-2"><%= raw post.content.first(50) %>...</h5>

        <%# <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.content %>
        <%# </p> %>
        <%= link_to post_path(post), class:"inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange rounded-lg hover:bg-green focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
            Lire
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        <% end %>
    </div>
  </div>

</div>
