<%# meta tags %>
<% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @post.description %>
<% content_for :meta_image, cl_image_path(@post.photo.url) %>
<%# ... %>

  <%# breadcrumb bar - sorte de fil d'ariane %>
  <%= render "breadcrumb", first_element: "Tous les articles", first_element_path: posts_path, second_element: @post.title%>
  <%# ... %>

  <%# links readable if a user is signed in with Devise %>
  <div class="flex justify-center my-10">
    <% if user_signed_in? %>
      <%= link_to edit_post_path(@post), class: "text-orange me-6" do %>
        <i class="fa-regular fa-pen-to-square"></i> Editer le post
      <% end %>
      <%= link_to post_path(@post), class: "me-4 text-orange me-6", data: { turbo_method: :delete,turbo_confirm: "Voulez-vous supprimer cet article?" } do %>
        <i class="fa-regular fa-trash-can"></i>Supprimer le post
      <% end %>
    <% end %>
  </div>

<%# Banner %>
<div class="w-full bg-cover h-128 bg-center" style="background-image: url(<%= cl_image_path(@post.photo.key) %>);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class=" max-w-5xl mx-auto">
              <%= @post.title %>
            </h1>
        </div>
    </div>
</div>

<%# Content %>
<div class="lg:px-64 px-8 mx-auto my-3">
  <%= raw @post.content %>
</div>
